.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f594;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  width: 70%;
  height: 70%;
  display: flex;
  background: rgba(255, 255, 255, 0.712);
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left {
  padding: 3rem;
}

.login-right {
  border-radius: 10px;
  width: 70%;
  background: rgba(255, 255, 255, 0.712);
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 85%
  ); */
}

.login-logo {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(153, 55, 55);
  margin-bottom: 0.8rem;
}

.login-desc {
  font-size: 1.2rem;
  font-weight: 400;
}

.login-box {
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.login-input {
  height: 3rem;
  border-radius: 10px;
  border: 0.5px solid gray;
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

.login-input:focus {
  outline: none;
}

.login-button {
  width: 65%;
  height: 3rem;
  border: none;
  border-radius: 10px;
  background: rgb(153, 55, 55);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s;
}

.login-button:active {
  transform: translateY(2px);
}

.login-button:disabled {
  cursor: not-allowed;
}

.login-loading {
  background: white;
  border: none;
}

.login-forgot {
  width: 50%;
  text-align: center;
  color: #993737c5;
  cursor: pointer;
}

.login-forgot:hover {
  color: #9937378a;
}

.register {
  height: 3rem;
  font-size: 1.2rem;
  width: 65%;
  align-self: center;
  background-color: #29c457;
}
