.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  width: 60%;
  height: 60%;
  display: flex;
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right {
  margin-left: 1rem;
}

.login-logo {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(153, 55, 55);
  margin-bottom: 0.8rem;
}

.login-desc {
  font-size: 1.2rem;
  font-weight: 400;
}

.login-box {
  height: 20rem;
  padding: 1.5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 85%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-input {
  height: 2rem;
  border-radius: 10px;
  border: 0.5px solid gray;
  font-size: 1.2rem;
  padding-left: 1.5rem;
  width: 16rem;
  align-self: center;
}

.login-input:focus {
  outline: none;
}

.login-button {
  height: 2.4rem;
  border: none;
  border-radius: 10px;
  background: rgb(153, 55, 55);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  width: 14rem;
  align-self: center;
}

.login-forgot {
  text-align: center;
  color: #993737c5;
  cursor: pointer;
}

.register {
  width: 12rem;
  align-self: center;
  background-color: #c7c732;
}
