.profile {
  display: flex;
}

.profile-right {
  flex: 9;
}

.profile-cover {
  height: 20rem;
  position: relative;
}

.profile-cover-img {
  width: 100%;
  object-fit: cover;
  height: 15rem;
}

.profile-user-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid white;
  top: 8rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-info-name {
  font-size: 1.6rem;
}

.profile-info-desc {
  font-weight: 300;
}

.profile-right-bottom {
  display: flex;
}
