.sidebar {
  flex: 2.5;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  position: sticky;
  top: 4rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar-wrapper {
  padding: 1.4rem;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-list-item {
  width: 75%;
  padding: 0.2rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.sidebar-list-item:hover {
  background-color: rgba(153, 55, 55, 0.774);
  color: white;
}

.sidebar-list-item-text {
  width: 100%;
}

.sidebar-icon {
  margin-right: 0.6rem;
}

.sidebar-button {
  width: 75%;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.5s;
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: rgba(153, 55, 55, 0.774);
  color: white;
}

.sidebar-hr {
  margin: 1.5rem 0;
}

.sidebar-friend-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-friend {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-friend-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.7rem;
}

@media screen and (max-width: 600px) {
  .sidebar-list-item-text {
    display: none;
  }

  .sidebar {
    flex: 1;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .sidebar-icon {
    width: 100%;
    height: 100%;
  }

  .sidebar-button {
    display: none;
  }

  .sidebar-button::after {
    content: 'Hello';
  }

  .sidebar-friend-name {
    display: none;
  }
}
