.post {
  width: 100%;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.47);
  margin: 2rem 0;
}
.post-wrapper {
  padding: 0.8rem;
}

.post-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-router {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-router:visited {
  color: black;
}

.post-top-left {
  display: flex;
  align-items: center;
}

.post-settings {
  cursor: pointer;
}

.post-profile-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.post-profile-name {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0.6rem;
}

.post-date {
  font-size: 0.7rem;
}

.post-center {
  margin: 1.2rem 0;
}

.post-img {
  margin-top: 1.2rem;
  width: 100%;
  cursor: pointer;
  max-height: 31rem;
  object-fit: contain;
}

.post-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-bottom-left {
  display: flex;
  align-items: center;
}

.post-like-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.post-like-counter {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.post-comment-text {
  font-size: 0.9rem;
  border-bottom: 1.5px dashed gray;
}
