@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Fredoka:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Fredoka', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
